<html>
    <head>
        <meta charset="utf-8">
        <title>wirte</title>

        <style>
            input[type=text] { height: 35px; font-size: 20px; }
        </style>
    </head>
    <body>
        
        <form action='/writeAf' method='post'>


            HANGUL: <input type='text' name='SEQN' value ="<%=list[0].SEQN %>"> 
            <input type='text' name='HANGUL'> 

            <button type='submit'>저장</button>
        </form>
    </body>
</html>