<html>
    <head>
        <meta charset="utf-8">
        <title>Book wirte</title>

        <style>
            input[type=text] { height: 35px; font-size: 20px; }
        </style>
    </head>
    <body>
        
        <form action='/bookwriteAf' method='post'>


            SEQ: <input type='text' name='SEQ' value ="<%=list[0].SEQ %>"> 
            
            <button type='submit'>저장</button>
        </form>
    </body>
</html>